extends layout

block header
    script(type='text/javascript')
        require(['lib/knockout', 'viewmodels/MainViewModel', 'lib/domReady!'], function(ko, viewModel) {
            ko.applyBindings(new viewModel());
        });

    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDs-tp9HvtxPEz1J8goLkQzQ-6vQSKxF3k&sensor=false')

    script(type='text/javascript')

        $(function(){

            var myLatlng = new google.maps.LatLng(-33.885694,151.211776);
              var mapOptions = {
                zoom: 14,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
              }
              var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

              var marker = new google.maps.Marker({
                  position: myLatlng,
                  map: map,
                  title:"Level 3, 2 Lacey St, Sydney, Australia"
              });

        });

block content


    .row-fluid#whatwedo
        ul.thumbnails
            li.span4
                .thumbnail(style='height: 450px')
                    img(src='/img/elements/dovetail_1_300.jpg', alt='')
                    .caption
                        h3 We are

                        p specialists in managing education projects.

                        p We work with organisations in Australia and NZ to professionally deliver their small or medium-sized projects.

                        p We provide affordable, high-quality project personnel for any phase of a project on a short or long-term basis.

            li.span4
                .thumbnail(style='height: 450px')
                    img(src='/img/elements/dovetail_2_300.jpg', alt='')
                    .caption
                        h3 We help you

                        p Reduce the workload on your staff.

                        p Lower costs by negotiating a better deal from technical vendors.

                        p Reduce risks by providing independent expertise to cut your reliance on vendors.

                        p Improve your control over a project to ensure it is delivered within budget and on time.

            li.span4
                .thumbnail(style='height: 450px')
                    img(src='/img/elements/dovetail_3_300.jpg', alt='')
                    .caption
                        h3 We can

                        p Independently analyse your project objectives and consider various technical solutions.

                        p Effectively procure technical services from any partner organisations.

                        p Manage the project and technical vendors on your behalf and carry out impartial testing.


    .row
        .span12

            div#technicalservices(style='border-top: 1px solid #cccccc; margin-bottom: 50px;')

            .row(style='margin-bottom: 50px;')
                .span4
                    img.media-object(src="/img/elements/dovetail_4_400.jpg")

                .span8
                    h2.media-heading Technical services


                    p We believe working with the education industry to successfully deliver projects requires a tailored approach which takes into account the sector's distinct characteristics.

                    p We can help you develop educational content whether it's web services or applications for PC and Notebooks, Smartphones, Tablets and Web TV.

                    p Or we can integrate or replace administration systems which help your organisation operate more efficiently.

                    p We seek to work on small or medium-sized projects relating to the areas listed below. However we are happy to discuss work outside of these areas on a case-by-case basis.

                    p
                        h3 Education content
                        ul
                            li Learning management systems
                            li Applications and adaptive learning content
                            li Distance learning and tele-education services
                    p
                        h3 Business systems
                        ul
                            li School and pupil administration systems
                            li Timetable development
                            li Results management services
                    p
                        h3 Hardware
                        ul
                            li Wireless networking
                            li Integrated whiteboards
                            li Cloud services and data warehousing

    .row
        .span12

            div#methodology(style='border-top: 1px solid #cccccc; margin-bottom: 50px;')

            .row(style='margin-bottom: 50px;')
                .span4
                    img(src="/img/elements/dovetail_8_400.jpg")

                .span8
                    h2.media-heading Methodology

                    p We work with organisations during any or all of the project life cycle phases.

                    p The critical aspects of our over-arching approach is summarised as follows:

                    p

                        h3 Business analysis and solution design

                        ul
                            li Focused on very high-quality analysis of commercial and technical requirements.
                            li Dedicated to clear written communication.
                            li Committed to providing a transparent and independent assessment of the various possible technical solutions.
                    p
                        h3 Project management
                        ul
                            li Willing to follow either an agile and iterative approach or work following formal structured approaches.
                            li Able to effectively manage all the associated vendors & internal customers.
                            li Keen to work professionally and constructively with sponsors, partners and users by reporting to stakeholders clearly and frequently.
                            li Aiming to provide strong technical governance to ensure the team produces high-quality outcomes reliably and affordably.

    .row
        .span12

            div#about(style='border-top: 1px solid #cccccc; margin-bottom: 50px;')

            .row(style='margin-bottom: 50px;')
                .span4
                    img.media-object.thumbnail(src="/img/elements/dovetail_6_400.jpg")

                .span8

                    h2.media-heading About

                    p Dovetail Digital Healthcare and Education Pty. Ltd. is based in Sydney, Australia and was incorporated in September 2012.

                    p The principal is Dominic Hebert who has over 12 years of experience in project management and business analysis with respect to the development of IT and telecommunications services across various industries.

    .row
        .span12

            div#contact(style='border-top: 1px solid #cccccc; margin-bottom: 50px;')

            .span2

                img.media-object(src="/img/elements/dovetail_7.jpg")

            .span5


                h2.media-heading Contact

                p Clients, please contact us for an obligation free initial consultation. If you're in Sydney, we'd be happy to meet in person.

                p Candidates, enquiries are welcome and please email your details to our recruitment drop box.

                form.well

                    .control-group(data-bind='css: {\'error\': !firstName.isValid()}')
                        .controls
                            input.span4(type='text', placeholder='Your First Name', data-bind='validationOptions: { insertMessages: false }, value: firstName, valueUpdate: \'afterkeydown\'')
                            //span.help-inline(data-bind='visible: !firstName.isValid()') First name is required

                    .control-group(data-bind='css: {\'error\': !lastName.isValid()}')
                        .controls
                            input.span4(type='text', placeholder='Your Last Name', data-bind='validationOptions: { insertMessages: false }, value: lastName, valueUpdate: \'afterkeydown\'')
                            //span.help-inline(data-bind='visible: !lastName.isValid()') Last name is required

                    .control-group(data-bind='css: {\'error\': !email.isValid()}')
                        .controls
                            input.span4(type='text', placeholder='Your email address', data-bind='validationOptions: { insertMessages: false }, value: email, valueUpdate: \'afterkeydown\'')
                            //span.help-inline(data-bind='visible: !email.isValid()') A correct email address is required

                    label
                        | Subject
                    select(data-bind='options: messageOptions, value: messageSubject, optionsCaption: \'Select one\'')

                    .control-group(data-bind='css: {\'error\': !message.isValid()}')
                        .controls
                            textarea#message.span4.input-xlarge(name='message', placeholder='Enter your message', rows='10', data-bind='validationOptions: { insertMessages: false }, value: message, valueUpdate: \'afterkeydown\'')
                            //span.help-inline(data-bind='visible: !message.isValid()') A message is required

                    br
                    br
                    button.btn.btn-primary(data-bind='click: sendEmail, enable: isValid, visible: !isBusy()') Send
                    p
                        span(data-bind='text: information')


            .span4

                script(type='text/javascript', src='http://download.skype.com/share/skypebuttons/js/skypeCheck.js')
                a(href='skype:dovetaildhe?call')
                    img(src='http://download.skype.com/share/skypebuttons/buttons/call_blue_white_124x52.png', style='border: none;', width='124', height='52', alt='Skype Me™!')

                strong dovetaildhe
                hr

                ul.nav.nav-list
                    li

                        span
                            i.icon-phone
                            span +61 (0) 457 564 773
                    li

                        a(href='mailto:contact@dovetaildhe.com')
                            i.icon-envelope-alt
                            span contact@dovetaildhe.com
                    li

                        a(href='mailto:recruitment@dovetaildhe.com')
                            i.icon-envelope-alt
                            span recruitment@dovetaildhe.com
                    li

                        a(href='mailto:investors@dovetaildhe.com')
                            i.icon-envelope-alt
                            span investors@dovetaildhe.com
                    li
                        span
                            i.icon-home
                            span Level 3, 2 Lacey St, Sydney, Australia

                hr

                #map_canvas(style='width: 100%; height: 300px;')




