extends layout

block header
    script(type='text/javascript')
        require(['lib/knockout', 'viewmodels/MainViewModel', 'lib/domReady!'], function(ko, viewModel) {
            ko.applyBindings(new viewModel());
        });

    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDs-tp9HvtxPEz1J8goLkQzQ-6vQSKxF3k&sensor=false')

    script(type='text/javascript')

        $(function(){

            var myLatlng = new google.maps.LatLng(-33.885694,151.211776);
              var mapOptions = {
                zoom: 14,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
              }
              var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

              var marker = new google.maps.Marker({
                  position: myLatlng,
                  map: map,
                  title:"Level 3, 2 Lacey St, Sydney, Australia"
              });

        });

block content


    .row-fluid#whatwedo
        ul.thumbnails
            li.span4
                .thumbnail(style='height: 450px')
                    img(src='/img/elements/dovetail_1_300.jpg', alt='')
                    .caption
                        h3 We are

                        p specialists in managing digital education projects.

                        p We work with organisations in Australia and NZ to deliver their small or medium-sized IT projects reliably and cost effectively.

            li.span4
                .thumbnail(style='height: 450px')
                    img(src='/img/elements/dovetail_2_300.jpg', alt='')
                    .caption
                        h3 We help

                        p an organisation analyse its business needs and then independently propose various digital solutions.

                        p We subsequently engage the applicable technical partners, build a dedicated project team and manage the project.

            li.span4
                .thumbnail(style='height: 450px')
                    img(src='/img/elements/dovetail_3_300.jpg', alt='')
                    .caption
                        h3 We can

                        p help you develop web services and applications for PC & Notebooks, Smartphones, Tablets and Web TV.

                        p Or we can help you integrate new services developed by other IT vendors into your existing technical landscape.


    .row
        .span12

            hr#technicalservices



            .row
                .span4
                    img.media-object(src="/img/elements/dovetail_4_400.jpg")

                .span8
                    h2.media-heading Technical services


                    p We believe working with the education industry to successfully deliver IT projects requires a tailored approach which takes into account the industry's distinct characteristics.

                    p We seek to work with public and private sector organisations on small or medium-sized projects relating to the following areas.

                    p However we are happy to discuss work outside of these areas on a case-by-case basis.


                    ul
                        li Education content and apps
                        li Distance learning and tele-education services
                        li Adaptive learning content
                        li Educator training content
                        li Content management systems
                        li School and pupil administration
                        li Timetable development
                        li Results management services
                        li Communications management
                        li Cloud services and data warehousing
                        li Networking

    .row
        .span12

            hr#methodology

            .row
                .span6
                    img(src="/img/elements/dovetail_5_700.jpg")

                .span6
                    h2.media-heading Methodology

                    p We work with organisations during any or all of the project life cycle phases.

                    p The critical aspects of our over-arching approach is summarised as follows:

                    ul
                        li Focused on very high-quality analysis of commercial and technical requirements and clear written communication.

                        li Committed to providing a transparent and independent assessment of the various possible technical solutions.

                        li Willing to execute work following either an agile and iterative approach or work following formal structured approaches.

                        li Able to provide strong and experienced project management which will manage all the associated vendors & internal customers.

                        li Keen to work professionally and constructively with sponsors, partners and users by reporting to stakeholders clearly and frequently.

                        li Aiming to provide strong technical governance to ensure the team produces high-quality outcomes reliably and affordably.


    .row
        .span12

            hr#about

            .row
                .span4
                    img.media-object.thumbnail(src="/img/elements/dovetail_6_400.jpg")

                .span8

                    h2.media-heading About

                    p Dovetail Digital Healthcare and Education Pty. Ltd. is based in Sydney, Australia and was incorporated in September 2012.

                    p The principal is Dominic Hebert who has over 12 years of experience in the commercial development of IT and telecommunications services with particular emphasis on mobile or web services and software development.

    .row
        .span12

            hr#contact

            .span2

                img.media-object(src="/img/elements/dovetail_7.jpg")

            .span5


                h2.media-heading Contact

                p Clients, please contact us for an obligation free initial consultation. If you're in Sydney, we'd be happy to meet in person.

                p Candidates, enquiries are welcome and please email your details to our recruitment drop box.

                p Investors, please email our drop box with any enquiries or let us know when we can contact you to discuss your interest.


                form.well

                    .control-group(data-bind='css: {\'error\': !firstName.isValid()}')
                        label.control-label(for='inputError') First Name
                        .controls
                            input.span4(type='text', placeholder='Your First Name', data-bind='validationOptions: { insertMessages: false }, value: firstName, valueUpdate: \'afterkeydown\'')
                            span.help-inline(data-bind='visible: !firstName.isValid()') First name is required

                    .control-group(data-bind='css: {\'error\': !lastName.isValid()}')
                        label.control-label(for='inputError') Last Name
                        .controls
                            input.span4(type='text', placeholder='Your Last Name', data-bind='validationOptions: { insertMessages: false }, value: lastName, valueUpdate: \'afterkeydown\'')
                            span.help-inline(data-bind='visible: !lastName.isValid()') Last name is required

                    .control-group(data-bind='css: {\'error\': !email.isValid()}')
                        label.control-label(for='inputError') Email
                        .controls
                            .input-prepend
                                span.add-on
                                    i.icon-envelope
                                input.span4(type='text', placeholder='Your email address', data-bind='validationOptions: { insertMessages: false }, value: email, valueUpdate: \'afterkeydown\'')
                            span.help-inline(data-bind='visible: !email.isValid()') A correct email address is required

                    label
                        | Subject
                    select(data-bind='options: messageOptions, value: messageSubject, optionsCaption: \'Select one\'')

                    .control-group(data-bind='css: {\'error\': !message.isValid()}')
                        label.control-label(for='inputError') Message
                        .controls
                            textarea#message.span4.input-xlarge(name='message', rows='10', data-bind='validationOptions: { insertMessages: false }, value: message, valueUpdate: \'afterkeydown\'')
                            span.help-inline(data-bind='visible: !message.isValid()') A message is required

                    br
                    br
                    button.btn.btn-primary(data-bind='click: sendMessage, enable: isValid') Send


            .span4

                script(type='text/javascript', src='http://download.skype.com/share/skypebuttons/js/skypeCheck.js')
                a(href='skype:dovetaildhe?call')
                    img(src='http://download.skype.com/share/skypebuttons/buttons/call_blue_white_124x52.png', style='border: none;', width='124', height='52', alt='Skype Me™!')

                strong dovetaildhe
                hr

                ul.nav.nav-list
                    li

                        span
                            i.icon-phone
                            span +61 (0) 457 564 773
                    li

                        a(href='mailto:contact@dovetaildhe.com')
                            i.icon-envelope-alt
                            span contact@dovetaildhe.com
                    li

                        a(href='mailto:recruitment@dovetaildhe.com')
                            i.icon-envelope-alt
                            span recruitment@dovetaildhe.com
                    li

                        a(href='mailto:investors@dovetaildhe.com')
                            i.icon-envelope-alt
                            span investors@dovetaildhe.com
                    li
                        span
                            i.icon-home
                            span Level 3, 2 Lacey St, Sydney, Australia

                hr

                #map_canvas(style='width: 100%; height: 300px;')




