doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/font-awesome-ie7.min.css')
        link(rel='stylesheet', href='/css/bootstrap-responsive.css')

        script(type='text/javascript',  src='js/lib/require.js')
        script(type='text/javascript',  src='js/global/requireConfig.js')

        script(type='text/javascript', src='/js/lib/jquery-1.8.3.min.js')
        script(type='text/javascript', src='/js/lib/bootstrap.min.js')
        script(type='text/javascript', src='/js/lib/smoothscroll.js')

        block header

    body(data-spy='scroll', data-target='.navbar')

        .navbar.navbar-fixed-top
            .navbar-inner.container
                a.brand(href='#', style='margin-top: 0px !important; margin-bottom: 0px !important')
                    img(src='/img/logo/dlogo1.1.png')
                ul.nav
                    li.active
                        a.smoothScroll(href='#whatwedo') Home
                    li
                        a.smoothScroll(href='#technicalservices') Technical services
                    li
                        a.smoothScroll(href='#methodology') Methodology
                    li
                        a.smoothScroll(href='#about') About
                    li
                        a.smoothScroll(href='#contact') Contact
        .container(style='margin-top: 60px')
            block content

    script(type='text/javascript')

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37868862-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();


